.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #f4f4f4;
    padding: 20px;
}

.profile-card {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #007bff;
}

.profile-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.profile-email {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.update-profile-btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  .update-profile-btn:hover {
    background-color: #0056b3;
  }
