.swiper-container {
  width: 80%;
  margin: 2rem auto;
}

.slider-image {
  width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
}

.swiper-pagination-bullet {
  background: black;
}

.swiper-pagination-bullet-active {
  background: gray;
}
